$primary: #FEE600;
$dark: #333333;
$dark-grey: #666666;
$grey: #999999;
$light-grey: #EEEEEE;
$white: white;
$blue: #3483FA;

.mb-16 {
  margin-top: 16px!important;
}

.mt-16 {
  margin-top: 16px!important;
}
.mb-32 {
  margin-top: 32px!important;
}

.mt-32 {
  margin-top: 32px!important;
}