@import "constants";

html {
  height: 100%;
}

body {
  min-height: 100%;
  background-color: $light-grey!important;
}

.app {
  overflow-y: auto;

  input[type="text"]:focus {
    border-color: transparent;
    box-shadow: unset;
    z-index: 0!important;
  }

  .app-header {
    background-color: $primary;
    padding: 10px;

    .row {
      margin-right: 0;
      margin-left: 0;
    }
  }

  .row {
    margin-right: 8px;
    margin-left: 12px;
  }

  .breadcrumbs {
    margin: 16px 0;
    font-size: 14px;
    color: $grey;

    span {
      margin: 16px 0;
    }
  }

  .btn-search {
    background-color: $light-grey !important;
    border: 0 !important;
  }

  .btn-primary {
    background-color: $blue !important;
    border-color: $blue !important;
  }

  .card-body {
    padding: 0 !important;

    h3 {
      font-size: 28px;
      margin-bottom: 32px;
    }

    p {
      font-size: 16px;
      margin-bottom: 32px;
    }

    .info {
      display: inline-block;
      vertical-align: middle;

      h3 {
        margin-top: 16px;
        font-weight: 400;
      }

      p {
        cursor: pointer;
        color: $dark;
        font-weight: 300;
      }

      p:hover {
        color: black;
      }

      ul {
        list-style-type: disc;
        padding-left: 18px;
        margin-top: 16px;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.38;

        li {
          display: list-item;
        }
      }
    }
  }

  .card-body-content {
    padding: 16px 0 !important;
  }

  .card-content {
    img {
      width: 100%;
    }
  }

  .clickable {
    cursor: pointer;
  }

  .input-search {
    border: 0 !important;
  }

  .item-description {
    h2 {
      font-size: 46px;
      font-weight: normal;
      margin-bottom: 32px;
    }

    h3 {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 32px;
    }

    p {
      font-size: 14px;
      margin-bottom: 16px;
    }
  }

  .item-list {
    padding-left: 0 !important;
    padding-right: 0 !important;

    h3 {
      margin-bottom: 32px;
      font-size: 24px;
    }

    p {
      font-size: 18px;
    }

    .thumbnail {
      padding-right: 16px;
      cursor: pointer;

      img {
        width: 180px;
        height: 180px;
        border-radius: 4px;
      }
    }

    .item-content {
      padding: 16px;
      border-bottom: 1px solid #eee;
    }
  }

  .shipping-icon {
    width: 18px;
    height: 18px;
    margin-left: 10px;
    margin-top: 20px;
  }

  /*
   * Loading data
   */
  .loader {
    margin-top: 16px;
    margin-bottom: 10px;
    display: inline-block;
    width: 64px;
    height: 64px;
  }

  .loader:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 5px solid $blue;
    border-color: $blue $blue $blue transparent;
    animation: rotate360 1.2s linear infinite;
  }

  @keyframes rotate360 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
